{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_projects.css' %}">
{% csrf_token %}
<div class="table-container">
    <h2> User Projects</h2>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Type</th>
                <th>Project Region</th>
                <th>Project City</th>
                <th>Project Location Other</th>
                <th>Project Location</th>
                <th>Project Location Type</th>
                <th>Project Budget</th>
                <th>Project Duration</th>
                <th>Number of Employees</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects%}
            <tr>
                <td>{{project.project_name}}</td>
                <td>{{project.Project_type}}</td>
                <td>{{project.project_region}}</td>
                <td>{{project.project_city}}</td>
                <td>{{project.project_location_other}}</td>
                <td>{{project.project_location}}</td>
                <td>{{project.project_location_type }}</td>
                <td>{{project.project_budget}}</td>
                <td>{{project.project_duration}}</td>
                <td>{{project.number_of_employees}}</td>
                <td>{{project.description}}</td>
                {% empty %}
                <tr>
                    <td colspan="11" style="text-align:center;"> There is no projects</td>
                </tr>
            </tr>
        </tbody>
        {% endfor%}
    </table>
</div>
{% endblock %}