{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users_details.css' %}">

<div class="user-details-page">
    <div class="details-container">
        <h3> User Details</h3>
        <form method ="post" class="form-container">
            {% csrf_token %}
            <div class="field">
                {{form.username.label_tag}}
                {{form.username}}
            </div>
            <div class="field">
                {{form.email.label_tag}}
                {{form.email}}
            </div>
            <div class="field">
                {{form.region.label_tag}}
                {{form.region}}
            </div>
            <div class="field">
                {{form.city.label_tag}}
                {{form.city}}
            </div>
            <div class="field">
                {{form.bio.label_tag}}
                {{form.bio}}
            </div>
            <div class="field">
                {{form.linkedin.label_tag}}
                {{form.linkedin}}
            </div>
            <div class="checkbox-container">
                <div>
                    <label class="checkbox-field">
                        {{form.is_active}}
                        <span class="checkmark"></span>
                        Active Account
                    </label>
                </div>
                <div>
                    <label class="checkbox-field">
                        {{form.is_staff}}
                        <span class="checkmark"></span>
                        Staff Member
                    </label>
                </div>
                <div>
                    <label class="checkbox-field">
                        {{form.is_superuser}}
                        <span class="checkmark"></span>
                        Administrator
                    </label>
                </div>
            </div>
            <div class="button-container">
                <button type submit >Save changes</button>
                <button type="button" onclick="history.back()" >return</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
